Repository egonoid/gatsby-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md,js}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --fix"],
  "*.scss": ["stylelint"]
}

Added bit token
  .travis.yml
Due: none

Removed example node package
  .npmrc
  egonoid.com/package.json
Due: prettier --write

Removed example node package from common
  themes/gatsby-theme-common/package.json
  yarn.lock
Due: prettier --write

Upgraded packages [#173744783]
  package.json
  yarn.lock
Due: prettier --write

Bumped version to 1.0.0
  themes/gatsby-theme-blog/package.json
  themes/gatsby-theme-common/package.json
Due: prettier --write

Refactored Jest tests
  .vscode/settings.json
  egonoid.com/package.json
  jest-configs/__mocks__/file-mock.js
  jest-configs/__mocks__/gatsby.js
  jest-configs/jest-preprocess.js
  jest-configs/loadershim.js
  jest.config.js
  package.json
  themes/gatsby-theme-blog/__mocks__/file-mock.js
  themes/gatsby-theme-blog/__mocks__/gatsby.js
  themes/gatsby-theme-blog/jest-preprocess.js
  themes/gatsby-theme-blog/jest.config.js
  themes/gatsby-theme-blog/loadershim.js
  themes/gatsby-theme-blog/package.json
  themes/gatsby-theme-common/__mocks__/file-mock.js
  themes/gatsby-theme-common/__mocks__/gatsby.js
  themes/gatsby-theme-common/jest-preprocess.js
  themes/gatsby-theme-common/jest.config.js
  themes/gatsby-theme-common/loadershim.js
  themes/gatsby-theme-common/package.json
Due: prettier --write

Fixed snapshot
  themes/gatsby-theme-common/src/components/Bio/__snapshots__/Bio.test.tsx.snap
Due: none

Upgraded packages
  egonoid.com/package.json
  package.json
  themes/gatsby-theme-blog/package.json
  themes/gatsby-theme-common/package.json
  yarn.lock
Due: prettier --write

Upgraded more packages
  egonoid.com/package.json
  package.json
  themes/gatsby-theme-blog/package.json
  themes/gatsby-theme-common/package.json
  yarn.lock
Due: prettier --write

Upgraded Storybook
  egonoid.com/.storybook/config.js.bak
  egonoid.com/.storybook/main.js
  egonoid.com/.storybook/preview.js
  egonoid.com/.storybook/webpack.config.js
  egonoid.com/package.json
  yarn.lock
Due: prettier --write

Upgraded packages
  egonoid.com/package.json
  yarn.lock
Due: prettier --write

Fixed call to test:single
  .travis.yml
Due: none

Upgraded ESLint related packages
  egonoid.com/package.json
  package.json
  yarn.lock
Due: prettier --write

Upgraded packages
  package.json
  yarn.lock
Due: prettier --write

Added Plop.js template for BasicComponent
  .plop-templates/BasicComponent/plopfile.js
  .plop-templates/BasicComponent/template/Component.module.scss.hbs
  .plop-templates/BasicComponent/template/Component.stories.tsx.hbs
  .plop-templates/BasicComponent/template/Component.test.tsx.hbs
  .plop-templates/BasicComponent/template/Component.tsx.hbs
  .plop-templates/BasicComponent/template/__snapshots__/Component.test.tsx.snap.hbs
  .plop-templates/BasicComponent/template/index.ts.hbs
  .vscode/settings.json
  plopfile.js
Due: prettier --write

Updated React.SFC to React.FC
  egonoid.com/src/pages/404.tsx
  egonoid.com/src/pages/index.tsx
  themes/gatsby-theme-blog/src/templates/blog-post.tsx
  themes/gatsby-theme-common/src/components/Layout/Layout.tsx
  themes/gatsby-theme-common/src/components/Seo/Seo.tsx
Due: prettier --write, eslint --fix

Updated package version to 1.1.0
  egonoid.com/package.json
Due: prettier --write

Added Dependabot configuration
  .github/dependabot.yml
Due: none
